<h1>Add a Student</h1>
<form action="/student/create" method="POST" id="create-form">
  <div>
    <label>Roll Number:</label>
    <input type="text" name="roll_number" value= "{% if student != Null %}{{student.roll_number}}{% endif %}" required />
  </div>
  <div>
    <label>First Name:</label>
    <input type="text" name="first_name" value= "{% if student != Null %}{{student.first_name}}{% endif %}" required />
  </div>
  <div>
    <label>Last Name:</label>
    <input type="text" name="last_name" value= "{% if student != Null %}{{student.last_name}}{% endif %}" />
  </div>
  <div>
    <label>Select Courses:
    <input type="checkbox" name="courses" value="course_1" {% if 1 in course %} checked {% endif %}/>
    <label for="c1">MAD I</label>
    <input type="checkbox" name="courses" value="course_2" {% if 2 in course %} checked {% endif %}/>
    <label for="c2">DBMS</label>
    <input type="checkbox" name="courses" value="course_3" {% if 3 in course %} checked {% endif %}/>
    <label for="c3">PDSA</label>
    <input type="checkbox"   name="courses" value="course_4" {% if 4 in course %} checked {% endif %}/>
    <label for="c4">BDM</label>
  </div>

  <div>
    <input type="submit" value = "Submit">
  </div>
</form>
