<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student</title>
  </head>
  <body>
    <h1>Students List</h1>
    <table id = "all-students">
  <tr>
    <th>SNo</th>
    <th>Roll Number</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Actions</th>
  </tr>
  {% if not students %}
    <p>No student found. Add the students now!</p>
  {% else %}
    {% for student in students %}
      <tr>
        <td>{{student.student_id}}</td>
        <td><a href="/student/{{student.student_id}}">{{student.roll_number}}</a></td>
        <td>{{student.first_name}}</td>
        <td>{{student.last_name}}</td>
        <td>
          <a href="/student/{{student.student_id}}/update" type="button">Update</a>
          
          <a href="/student/{{student.student_id}}/delete" type="button">Delete</a>
        </td>
      </tr>
    {% endfor %}
  {% endif %}
</table>

  </body>
</html>
